// Custom.scss

// My Variable overrides

$theme-colors: (
  "primary": #778A8E,
  "danger": #ff4136,
  "light-shades": #E8E8EC,
  "light-accent": #C5D9AE,
  "dark-accent": #7F5045,
  "dark-shades": #2E2F38
);

$body-bg: #212121;
$body-color: #878787;


// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";