@import "custom";
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300|Raleway:300&display=swap");

html {
  font-size: calc(1em + 0.75vw);
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.6rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
}

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

a,
a:hover,
a:focus {
  color: $white;
  text-decoration: none;
  transition: all 0.3s;
  font-family: "Josefin Sans", sans-serif;
}

/* Site Logo */
a#SiteLogo {
  background-image: url("./../images/SH-Photography-Camera.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vw;
  width: 90vw;
  display: inline-block;
  position: relative;
  left: 0rem;
  top: 1rem;
}

@media (min-width: 992px) {
  a#SiteLogo {
    height: 10vw;
    width: 40vw;
    top: 1.25rem;
  }
}

.nav-item a,
.navbar-dark .navbar-nav .nav-link {
  color: $white;
  font-size: 1rem;
}

.nav-item a:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: gray("500");
}

.navbar-toggler {
  font-size: 1.2rem;
}
.navbar-toggler:focus {
  outline: theme-color("dark-shades") thin solid;
}

/* Scrollbars */
@include scrollbars(0.25em, theme-color("dark-accent"), #191919);

#container {
  min-height: 93vh;
}

#content {
  min-height: 75%;
}

/* Gallery */

.react-photo-gallery--gallery img {
  border-radius: 5px;
}
.react-photo-gallery--gallery img:hover {
  box-shadow: 0px 0px 8px theme-color("dark-accent");
}

/* Footer */
footer {
  margin: 0;
}
